<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Option List</title>
</head>
<body>
  <div class="weekday">
    <h1 class="optionList-h1">Option List</h1> 
  <table class="optionDay">
    <tbody>
      <% options.forEach(function(option) { %>
        <tr class="weekday-th">
          <th class="weekday-t">Weekday</th>
          <td class="weekday-t"> <a href="options/edit/<%=option.id%>"><%= option.weekday %></a></td>
          <th class="weekday-t">Date</th>
          <td class="weekday-t"> <a href="options/edit/<%=option.id%>"><%= option.date.toLocaleString() %></a></td>
          <th class="weekday-t">Option list</th>
          <td class="weekday-t"> <a href="options/edit/<%=option.id%>"><%= option.optionsList %> </a></td>
          <td> <form action="options/<%= option.id %>?_method=DELETE" method="POST"> 
            <button type="submit" class="delete">X</button> </form> </td>
            
            <td class="pickOption"> <a href="options/<%=option.id%>">PICK OPTION</a> </td> 
          </tr>
  
          <% }); %>
        </tbody>
      </table>
</div>


</body>
</html>

<%- include('../partials/footer') %>



