<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Option List</title>
</head>
<body>
    <!-- <a href="/">HOME</a>
    <a href="/options/new">CREATE OPTIONS</a>
    <a href="/options/showAllChoices">CHOICE LIST</a>  -->
    <div class="optionListHeader">
        <ul class="indexHeader"> 
        <!-- <h1 class="logo">J-MO</h1>  -->
 <h1 class="optionList">Option List</h1> 
        </ul>
</div>
  <div class="optionBorder">
  <table class="optionDay">
    <thead>
      <tr class="weekday">
        <th>Weekday</th>
        <th>Date</th>
        <th>Option list</th>
      </tr>
    </thead>
    <tbody>
        <% options.forEach(function(option) { %>
       <tr class="weekdayOption">
        <td> <a href="options/edit/<%= option.id %>">EDIT OPTION</a> </td> 
            <td><%= option.weekday %></td>
         <td><%= option.date.toLocaleString() %></td>
          <td><%= option.optionsList %></td>
        <td> <a href="options/<%=option.id%>">Pick Option</a> </td> 
            <td> <form action="options/<%= option.id %>?_method=DELETE" method="POST"> 
                <button type="submit">DELETE Option</button>
             </form>
            </td> 
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>
</body>
</html>

<%- include('../partials/footer') %>



