<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Option List</title>
</head>
<body>
    <!-- <a href="/">HOME</a>
    <a href="/options/new">CREATE OPTIONS</a>
    <a href="/options/showAllChoices">CHOICE LIST</a>  -->
    <div class="optionListHeader">
 <h1 class="optionList">Option List</h1> 
       
</div>
  <div class="optionBorder">
  <table class="optionDay">
    <thead>
      <tr class="weekday">
        <th class="divOW">Weekday</th>
        <th class="divOD">Date</th>
        <th class="divOL">Option list</th>
      </tr>
    </thead>
    <tbody>
        <div class="weekdayDiv">
        <% options.forEach(function(option) { %>
       <tr class="weekdayOption">
        <td> <a href="options/edit/<%=option.id%>"><%= option.weekday %></a></td>
         <td> <a href="options/edit/<%=option.id%>"><%= option.date.toLocaleString() %> </a></td>
          <td> <a href="options/edit/<%=option.id%>"><%= option.optionsList %> </a></td>
          <td> <form action="options/<%= option.id %>?_method=DELETE" method="POST"> 
            <button type="submit" class="delete">X</button>
         </form> </td> 
        </div>
        <div class="pickEdit">
        <td class="pickOption"> <a href="options/<%=option.id%>">PICK OPTION</a> </td> 
    </div>    

        </tr>
        <% }); %>
    </tbody>
  </table>
</div>
</body>
</html>

<%- include('../partials/footer') %>



