<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="showAllYourChoice1">
    <h1 class="showAllYourChoice">Your Choice For The Day!</h1>
  </div>
    <div class="showAllBorder">
    <table class="showAllDay">
        <thead>
          <tr class="showAllWeekday">
          <th class="divW">Weekday</th>
          <th class="divD">Date</th>
          <th class="divO">Option list</th>
          </tr>
        </thead>
        <tbody>
            <% options.forEach(function(option) { %>
            <tr class="showAllWeekdayChoice">
               <td class="divW"><%= option.weekday %></td> 
            <td class="divD"><%= option.date.toLocaleString() %>
            <td class="divO"><%= option.optionsList %></td>  
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
</body>
</html>

<%- include('../partials/footer') %>


