<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <a href="/options">OPTION LIST</a>
    <a href="/options/new">CREATE OPTION</a>
    <a href="/">HOME</a> -->
    <div class="showAllYourChoice1">
    <h1 class="showAllYourChoice">Your Choice For The Day!</h1>
  </div>
    <div class="showAllBorder">
    <table class="showAllDay">
        <thead>
          <tr class="showAllWeekday">
            <th>Weekday</th> 
            <th>Date</th>
            <th>Option list</th> 
          </tr>
        </thead>
        <tbody>
            <% options.forEach(function(option) { %>
            <tr class="showAllWeekdayChoice">
                <td><%= option.weekday %></td>
             <td><%= option.date.toLocaleString() %></td>
              <td><%= option.optionsList %></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
</body>
</html>

<%- include('../partials/footer') %>


